<div>
  <!-- when clicking the button, we call onSelectUser that changes the selectedUser -->
  <!-- <button (click)="onSelectUser()"> -->
  <button>
    <!-- selectedUser image -->
    <!-- <img [src]="userImage" [alt]="selectedUser.name" /> -->
    <!-- with signals -->
    <!-- <img [src]="userImage()" [alt]="selectedUser().name" /> -->
    <!-- selectedUser name -->
    <!-- <span>{{ selectedUser.name }}</span> -->
    <!-- with signals -->
    <!-- <span>{{ selectedUser().name }}</span> -->
  </button>
</div>
